.page_header {
    margin-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 3rem;
}

.card_container {
   
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.mylistCard {
    /* flex: 0 0 25%; */
    margin: 1rem;
}

@media (max-width: 1280px) {
   .page_header {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 3.5rem;
    }
    .card_container {
    
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 1024px) {

    .page_header {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 3rem;
    }
    .card_container {
    
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
     .mylistCard {
        /* flex: 0 0 25%; */
        margin: 2px;
    }
}

@media (max-width: 640px) {
    .page_header {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 2rem;
    }
    .card_container {
    
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        justify-content: center;
    }
    .mylistCard {
        /* flex: 0 0 25%; */
        margin: 10px;
    }
}

@media (max-width: 350px) {
    .page_header {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 2rem;
    }
    .card_container {
    
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
